Repository Quantco/datajudge: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, taplo, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      - id: mypy
        name: mypy
        entry: pixi run -e mypy mypy
        language: system
        types: [python]
        require_serial: true
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Use default environment for mypy
  .pre-commit-config.yaml
  pixi.toml
Due: prettier, taplo, typos

Use updated lock
  pixi.lock
Due: typos

Reorder actions
  .github/workflows/ci.yaml
Due: prettier, typos

Add ty as an additional type checker (#306)
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  src/datajudge/constraints/base.py
  src/datajudge/constraints/column.py
  src/datajudge/constraints/date.py
  src/datajudge/constraints/interval.py
  src/datajudge/constraints/miscs.py
  src/datajudge/constraints/nrows.py
  src/datajudge/constraints/numeric.py
  src/datajudge/constraints/row.py
  src/datajudge/constraints/uniques.py
  src/datajudge/constraints/varchar.py
  src/datajudge/data_source.py
  src/datajudge/db_access.py
  src/datajudge/requirements.py
  tests/integration/conftest.py
  tests/integration/test_integration.py
  tests/integration/test_stats.py
Due: mypy, prettier, taplo, typos

Remove dead code
  tests/integration/conftest.py
Due: mypy, typos

Fix sentence
  docs/development.md
Due: prettier, typos

Add changelog entry and increase version number.
  CHANGELOG.md
  src/datajudge/__init__.py
Due: mypy, prettier, typos

Be more specific in changelog.
  CHANGELOG.md
Due: prettier, typos

Fix documentation URL in README
  README.md
Due: prettier, typos

Fix typo
  docs/development.md
Due: prettier, typos

Fix more typos
  docs/development.md
Due: prettier, typos

Add deprecation warning for sqlalchemy <2. (#312)
  .github/workflows/ci.yaml
  CHANGELOG.md
  README.md
  docs/development.md
  pixi.lock
  pixi.toml
  src/datajudge/__init__.py
  tests/integration/conftest.py
Due: mypy, prettier, taplo, typos

Fix incompatibilities to changes since PR
  src/datajudge/constraints/stats.py
  src/datajudge/db_access.py
  src/datajudge/requirements.py
  tests/integration/test_stats.py
Due: mypy, typos

Add type hints
  src/datajudge/constraints/stats.py
Due: mypy, typos

Add simple tests.
  tests/integration/test_stats.py
Due: mypy, typos

Adapt ignores
  tests/integration/test_integration.py
Due: mypy, typos

Fix typo and silence ty
  src/datajudge/constraints/base.py
  src/datajudge/requirements.py
Due: mypy, typos

Address some ty complaints
  src/datajudge/constraints/base.py
  src/datajudge/constraints/numeric.py
  tests/integration/conftest.py
  tests/integration/test_integration.py
Due: mypy, typos
