Repository Quantco/datajudge: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, taplo, typos

mypy:
  name: mypy
  entry: pixi run -e mypy mypy
  language: system
  require_serial: true

prettier:
  name: prettier
  entry: pixi run -e lint prettier --write --list-different --ignore-unknown
  language: system

taplo:
  name: taplo
  entry: pixi run -e lint taplo format
  language: system

typos:
  name: typos
  entry: pixi run -e lint typos --force-exclude
  language: system
  require_serial: true

Add TODOs wrt deprecation warnings.
  src/datajudge/db_access.py
Due: mypy, typos

Remove addressed TODO.
  src/datajudge/db_access.py
Due: mypy, typos

Address 4 deprecation warnings.
  src/datajudge/db_access.py
Due: mypy, typos

Address last deprecation warning.
  src/datajudge/db_access.py
Due: mypy, typos

Upper-bound ibm_db.
  pixi.lock
  pixi.toml
Due: taplo, typos

Address deprecation warnings from `sqlalchemy` (#261)
  src/datajudge/db_access.py
Due: mypy, typos

Upper-bound impyla.
  pixi.lock
  pixi.toml
Due: taplo, typos

Annotate engines and data references.
  src/datajudge/constraints/row.py
  src/datajudge/db_access.py
Due: mypy, typos

Annotate remaining function parameters.
  src/datajudge/db_access.py
Due: mypy, typos

Add return type annotations.
  src/datajudge/constraints/date.py
  src/datajudge/constraints/numeric.py
  src/datajudge/db_access.py
Due: mypy, typos

More return type annotations.
  src/datajudge/db_access.py
Due: mypy, typos

Fix violations.
  src/datajudge/db_access.py
Due: mypy, typos

Add missing annotation.
  src/datajudge/db_access.py
Due: mypy, typos

Fix casting.
  src/datajudge/db_access.py
Due: mypy, typos

Add type hints to `db_access` (#262)
  src/datajudge/constraints/date.py
  src/datajudge/constraints/numeric.py
  src/datajudge/constraints/row.py
  src/datajudge/db_access.py
Due: mypy, typos

Use future annotations for requirements module.
  src/datajudge/requirements.py
Due: mypy, typos

Use future annotations for utils module.
  src/datajudge/utils.py
Due: mypy, typos

Use future annotations for base module.
  src/datajudge/constraints/base.py
Due: mypy, typos

Use future annotations for column module.
  src/datajudge/constraints/column.py
Due: mypy, typos

Use future annotations for groupby module.
  src/datajudge/constraints/groupby.py
Due: mypy, typos

Use future annotations for interval module.
  src/datajudge/constraints/interval.py
Due: mypy, typos

Use future annotations for miscs module.
  src/datajudge/constraints/miscs.py
Due: mypy, typos

Use future annotations for nrows module.
  src/datajudge/constraints/nrows.py
Due: mypy, typos

Use future annotations for row module.
  src/datajudge/constraints/row.py
Due: mypy, typos

Use future annotations for stats module.
  src/datajudge/constraints/stats.py
Due: mypy, typos

Use future annotations for uniques module.
  src/datajudge/constraints/uniques.py
Due: mypy, typos

Use future annotations for varchar module.
  src/datajudge/constraints/varchar.py
Due: mypy, typos

Consistently use Python 3.10 type annotations (#263)
  src/datajudge/constraints/base.py
  src/datajudge/constraints/column.py
  src/datajudge/constraints/groupby.py
  src/datajudge/constraints/interval.py
  src/datajudge/constraints/miscs.py
  src/datajudge/constraints/nrows.py
  src/datajudge/constraints/row.py
  src/datajudge/constraints/stats.py
  src/datajudge/constraints/uniques.py
  src/datajudge/constraints/varchar.py
  src/datajudge/requirements.py
  src/datajudge/utils.py
Due: mypy, typos

Fix miscellaneous doc strings.
  src/datajudge/constraints/base.py
  src/datajudge/requirements.py
Due: mypy, typos

Fix miscellaneous doc strings. (#264)
  src/datajudge/constraints/base.py
  src/datajudge/requirements.py
Due: mypy, typos

Update changelog.
  CHANGELOG.rst
Due: typos

Remove token from pypi publishing.
  .github/workflows/build_and_publish.yaml
Due: prettier, typos

Add permissions.
  .github/workflows/build_and_publish.yaml
Due: prettier, typos

Update version.
  src/datajudge/__init__.py
Due: mypy, typos

Adapt docstrings as to appease pchs.
  pixi.lock
  src/datajudge/__init__.py
  src/datajudge/constraints/stats.py
  src/datajudge/constraints/uniques.py
  src/datajudge/db_access.py
  src/datajudge/requirements.py
  src/datajudge/utils.py
Due: mypy, typos

Remove bound on ibm_db.
  pixi.lock
  pixi.toml
Due: taplo, typos

Explicitly exclude trouble-making version.
  pixi.toml
Due: taplo, typos

Remove bound on ibm_db. (#269)
  pixi.lock
  pixi.toml
Due: taplo, typos

Update lock
  pixi.lock
Due: typos

Path conditions:
  mypy: any of: \.py$, but not: ^\.pixi
  prettier: any of: \.(md|yml|yaml)$, but not: ^\.pixi
  taplo: any of: \.toml$, but not: ^\.pixi
  typos: any of: not (\.csv$), but not: ^\.pixi
