Repository Quantco/datajudge: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, taplo, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      - id: mypy
        name: mypy
        entry: pixi run -e mypy mypy
        language: system
        types: [python]
        require_serial: true
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

WIP
  docs/development.md
  docs/examples/company-data.md
  docs/examples/dates.md
  docs/examples/exploration.md
  docs/examples/twitch.md
  docs/getting-started.md
  docs/index.md
  docs/motivation.md
  docs/testing.md
  pyproject.toml
  src/datajudge/__init__.py
  src/datajudge/constraints/column.py
  src/datajudge/constraints/stats.py
  src/datajudge/constraints/uniques.py
  src/datajudge/db_access.py
  src/datajudge/requirements.py
  src/datajudge/utils.py
Due: mypy, prettier, taplo, typos

Render all code documentation, exemplary link within docstring.
  docs/testing.md
  mkdocs.yml
  src/datajudge/requirements.py
Due: mypy, prettier, typos

Fix test values.
  tests/integration/test_integration.py
Due: mypy, typos

Tighten doc string.
  src/datajudge/requirements.py
Due: mypy, typos

Fix typo.
  tests/integration/test_integration.py
Due: mypy, typos

Fix selection process.
  src/datajudge/db_access.py
Due: mypy, typos

Fix another test value.
  tests/integration/test_integration.py
Due: mypy, typos

Make between test tight.
  tests/integration/test_integration.py
Due: mypy, typos

Add test case.
  tests/integration/test_integration.py
Due: mypy, typos

Fix conditioning.
  src/datajudge/db_access.py
Due: mypy, typos

Adapt second docstring, too.
  src/datajudge/requirements.py
Due: mypy, typos

Add changelog entry.
  CHANGELOG.rst
Due: typos

Complete changelog.
  CHANGELOG.rst
Due: typos

Fix a bug with the current implementation of the `NumericPercentile` `Constraint` (#241)
  CHANGELOG.rst
  src/datajudge/db_access.py
  src/datajudge/requirements.py
  tests/integration/test_integration.py
Due: mypy, typos

Fix version number.
  CHANGELOG.rst
  src/datajudge/__init__.py
Due: mypy, typos

Adapt annotation.
  src/datajudge/constraints/uniques.py
Due: mypy, typos

Remove environment snowflake-sa1.
  .github/workflows/ci.yaml
  pixi.lock
  pixi.toml
Due: prettier, taplo, typos

Attempt to work with image's driver.
  .github/workflows/ci.yaml
Due: prettier, typos

Change name of driver.
  tests/integration/conftest.py
Due: mypy, typos

Test freetds driver.
  pixi.toml
Due: taplo, typos

Remove manual installation of driver.
  .github/workflows/ci.yaml
Due: prettier, typos

Undo change.
  tests/integration/conftest.py
Due: mypy, typos

Address mssql CI failure (#255)
  .github/workflows/ci.yaml
  pixi.toml
Due: prettier, taplo, typos

push mre
  tests/unit/test_add_date_no_overlap_2d_constraint.py
Due: mypy, typos

Add failing test.
  tests/integration/conftest.py
  tests/integration/test_integration.py
Due: mypy, typos

Add return type annotation.
  src/datajudge/db_access.py
Due: mypy, typos

Add doc string.
  src/datajudge/db_access.py
Due: mypy, typos

Use consistent math notation.
  src/datajudge/db_access.py
Due: mypy, typos

Fix logic.
  src/datajudge/db_access.py
Due: mypy, typos

Adapt threshold of cumulative test.
  tests/integration/test_integration.py
Due: mypy, typos

Update docs.
  docs/source/examples/example_dates.rst
  src/datajudge/__init__.py
  src/datajudge/requirements.py
Due: mypy, typos

Add tests for other affected methods.
  CHANGELOG.rst
  tests/integration/conftest.py
  tests/integration/test_integration.py
Due: mypy, typos

Edit spelling.
  docs/source/examples/example_dates.rst
  src/datajudge/db_access.py
Due: mypy, typos

Add changelog to docs.
  docs/source/CHANGELOG.rst
  docs/source/index.rst
Due: typos

Add changelog to docs. (#257)
  docs/source/CHANGELOG.rst
  docs/source/index.rst
Due: typos

Bugfix: `NoOverlap2d` constraint fails to recognize duplicates (#256)
  CHANGELOG.rst
  docs/source/examples/example_dates.rst
  src/datajudge/__init__.py
  src/datajudge/db_access.py
  src/datajudge/requirements.py
  tests/integration/conftest.py
  tests/integration/test_integration.py
Due: mypy, typos

Bump version.
  src/datajudge/__init__.py
Due: mypy, typos

Apply pchs.
  src/datajudge/constraints/column.py
  src/datajudge/constraints/miscs.py
  src/datajudge/constraints/varchar.py
  tests/integration/test_integration.py
  tests/integration/test_stats.py
Due: mypy, typos

Address deprecation warning.
  src/datajudge/db_access.py
Due: mypy, typos
