Repository Quantco/datajudge: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, taplo, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      - id: mypy
        name: mypy
        entry: pixi run -e mypy mypy
        language: system
        types: [python]
        require_serial: true
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Tell ty that the first argument to a method doesn't correspond to self.
  src/datajudge/constraints/base.py
  src/datajudge/constraints/numeric.py
Due: mypy, typos

Remove some mypy hacks
  src/datajudge/constraints/base.py
  src/datajudge/constraints/numeric.py
  src/datajudge/requirements.py
Due: mypy, typos

Update lock
  pixi.lock
Due: typos

Fix typos
  .github/workflows/ci.yaml
  README.md
Due: prettier, typos

Rm superfluous dependency
  pyproject.toml
Due: taplo, typos

Clean up minorly (#310)
  .github/workflows/ci.yaml
  README.md
  pyproject.toml
Due: prettier, taplo, typos

Add support for duckdb
  .github/workflows/ci.yaml
  pixi.lock
  pixi.toml
  src/datajudge/db_access.py
  tests/integration/conftest.py
  tests/integration/test_column_capitalization.py
  tests/integration/test_integration.py
Due: mypy, prettier, taplo, typos

Add changelog entry and increase version number.
  CHANGELOG.rst
  src/datajudge/__init__.py
Due: mypy, typos

Mention backend support
  README.md
  docs/source/index.rst
Due: prettier, typos

Rm some environments from CI to save resources.
  .github/workflows/ci.yaml
  pixi.lock
  pixi.toml
Due: prettier, taplo, typos

Increase memory limit for DuckDB on unix.
  tests/integration/test_integration.py
Due: mypy, typos

Add support for DuckDB (#311)
  .github/workflows/ci.yaml
  CHANGELOG.rst
  README.md
  docs/source/index.rst
  pixi.lock
  pixi.toml
  src/datajudge/__init__.py
  src/datajudge/db_access.py
  tests/integration/conftest.py
  tests/integration/test_column_capitalization.py
  tests/integration/test_integration.py
Due: mypy, prettier, taplo, typos

Translate changelog.
  CHANGELOG.md
  docs/CHANGELOG.rst
  docs/source/examples/example_dates.rst
  docs/source/index.rst
Due: prettier, typos

Rm
  CHANGELOG.rst
  mkdocs.yml
Due: prettier, typos

Add references to changelog.
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/getting-started.md
  docs/installation.md
  mkdocs.yml
Due: prettier, typos

Fix pixi env references.
  docs/development.md
Due: prettier, typos

Add readthedocs configuration
  .readthedocs.yml
  CHANGELOG.md
  docs/examples/dates.md
  docs/getting-started.md
  docs/javascripts/external_links.js
  docs/javascripts/katex.js
  docs/styles/custom.css
  mkdocs.yml
  pixi.lock
  pixi.toml
  src/datajudge/__init__.py
  src/datajudge/_engines.py
  src/datajudge/condition.py
  src/datajudge/constraints/base.py
  src/datajudge/constraints/column.py
  src/datajudge/constraints/date.py
  src/datajudge/constraints/groupby.py
  src/datajudge/constraints/interval.py
  src/datajudge/constraints/miscs.py
  src/datajudge/constraints/nrows.py
  src/datajudge/constraints/numeric.py
  src/datajudge/constraints/row.py
  src/datajudge/constraints/stats.py
  src/datajudge/constraints/uniques.py
  src/datajudge/constraints/varchar.py
  src/datajudge/data_source.py
  src/datajudge/db_access.py
  src/datajudge/requirements.py
  tests/integration/conftest.py
  tests/integration/test_data_source.py
  tests/integration/test_stats.py
  tests/unit/test_condition.py
  tests/unit/test_data_source.py
Due: mypy, prettier, taplo, typos

Allow for self-reference type annotation.
  src/datajudge/condition.py
Due: mypy, typos

Fix typo
  src/datajudge/constraints/base.py
  src/datajudge/data_source.py
  src/datajudge/requirements.py
Due: mypy, typos

Fix symlink
  docs/CHANGELOG.md
Due: prettier, typos

Fix index
  docs/index.md
Due: prettier, typos

Fix indentation
  docs/getting-started.md
Due: prettier, typos

Tell prettier to give markdown files list items with 4 spaces
  .prettierrc
Due: typos

Use full qualification when reffering to FromClause and Select
  src/datajudge/data_source.py
  src/datajudge/requirements.py
Due: mypy, typos

Fix field name
  src/datajudge/data_source.py
  tests/integration/test_integration.py
Due: mypy, typos

Fix inheritance
  src/datajudge/formatter.py
Due: mypy, typos

Fix field reference
  tests/integration/pytest_testfile.py
Due: mypy, typos

Add type hints to signatures.
  mkdocs.yml
Due: prettier, typos

Add reference to neighboring article.
  docs/getting-started.md
Due: prettier, typos

Add annotation and fix typo
  src/datajudge/constraints/base.py
  src/datajudge/db_access.py
Due: mypy, typos

Fix method references
  tests/integration/test_column_capitalization.py
  tests/integration/test_data_source.py
  tests/integration/test_integration.py
Due: mypy, typos

Fix imports
  src/datajudge/data_source.py
  src/datajudge/db_access.py
  src/datajudge/requirements.py
Due: mypy, typos

Rework interfaces of select methods
  src/datajudge/constraints/base.py
  src/datajudge/constraints/date.py
  src/datajudge/constraints/interval.py
  src/datajudge/constraints/numeric.py
Due: mypy, typos

Ensure that method overwrites are legitimate overwrites
  pyproject.toml
  src/datajudge/constraints/miscs.py
  src/datajudge/constraints/nrows.py
  src/datajudge/constraints/row.py
  src/datajudge/constraints/uniques.py
  src/datajudge/requirements.py
Due: mypy, taplo, typos

Fix field references
  src/datajudge/constraints/nrows.py
  src/datajudge/constraints/uniques.py
Due: mypy, typos

Fix more method references.
  src/datajudge/constraints/base.py
  src/datajudge/constraints/nrows.py
  src/datajudge/constraints/row.py
  src/datajudge/constraints/uniques.py
  tests/integration/test_column_capitalization.py
  tests/integration/test_data_source.py
  tests/integration/test_integration.py
Due: mypy, typos

Bring back mypy
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  src/datajudge/constraints/base.py
  src/datajudge/requirements.py
  tests/integration/conftest.py
  tests/integration/test_integration.py
Due: mypy, prettier, taplo, typos

Add deprecation warning for sqlalchemy <2.
  .github/workflows/ci.yaml
  pixi.lock
  pixi.toml
  src/datajudge/__init__.py
Due: mypy, prettier, taplo, typos
