Repository Quantco/datajudge: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier, taplo, typos

.pre-commit-config.yaml:

exclude: ^\.pixi
repos:
  - repo: local
    hooks:
      # ensure pixi environments are up to date
      # workaround for https://github.com/prefix-dev/pixi/issues/1482
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e default -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
      # ruff
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
      # mypy
      - id: mypy
        name: mypy
        entry: pixi run -e mypy mypy
        language: system
        types: [python]
        require_serial: true
      # prettier
      - id: prettier
        name: prettier
        entry: pixi run -e lint prettier --write --list-different --ignore-unknown
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      # taplo
      - id: taplo
        name: taplo
        entry: pixi run -e lint taplo format
        language: system
        types: [toml]
      # pre-commit-hooks
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --force-exclude
        language: system
        types: [text]
        exclude: "\\.csv$"
        require_serial: true

Don't test db2 against sqlalchemy 1 due to incompatiblity
  pixi.lock
  pixi.toml
Due: taplo, typos

Remove inexistent env from ci matrix
  .github/workflows/ci.yaml
Due: prettier, typos

Fix typo
  src/datajudge/requirements.py
Due: mypy, typos

Disable Snowflake job in CI configuration
  .github/workflows/ci.yaml
Due: prettier, typos

Revise comment on Snowflake account status
  .github/workflows/ci.yaml
Due: prettier, typos

Update pixi lock
  pixi.lock
  pixi.toml
Due: taplo, typos

Remove support for deprecated Python versions
  .github/workflows/ci.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  src/datajudge/constraints/base.py
  src/datajudge/constraints/date.py
  src/datajudge/constraints/row.py
  src/datajudge/constraints/uniques.py
  src/datajudge/db_access.py
  src/datajudge/pytest_integration.py
  src/datajudge/requirements.py
  src/datajudge/utils.py
  tests/integration/conftest.py
Due: mypy, prettier, taplo, typos

Rm inexistent environment from ci matrix.
  .github/workflows/ci.yaml
Due: prettier, typos

Try to address pool issue by reusing fixture in session.
  tests/integration/conftest.py
Due: mypy, typos

Add changelog entry.
  CHANGELOG.rst
Due: typos

Fix SQLAlchemy connection pool exhaustion in db_access.py (#303)
  src/datajudge/db_access.py
Due: mypy, typos

Apply pchs.
  src/datajudge/db_access.py
Due: mypy, typos

Add pixi environments and CI for Python 3.14
  .github/workflows/ci.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
Due: prettier, taplo, typos

Remove support for Python 3.8 and Python 3.9 (#302)
  .github/workflows/ci.yaml
  CHANGELOG.rst
  pixi.lock
  pixi.toml
  pyproject.toml
  src/datajudge/constraints/base.py
  src/datajudge/constraints/date.py
  src/datajudge/constraints/row.py
  src/datajudge/constraints/uniques.py
  src/datajudge/db_access.py
  src/datajudge/pytest_integration.py
  src/datajudge/requirements.py
  src/datajudge/utils.py
  tests/integration/conftest.py
Due: mypy, prettier, taplo, typos

Remove impala-related environments.
  .github/workflows/ci.yaml
  docker-compose.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
Due: prettier, taplo, typos

Update version.
  src/datajudge/__init__.py
Due: mypy, typos

First attempt
  .github/workflows/ci.yaml
  tests/integration/conftest.py
Due: mypy, prettier, typos

Revert "First attempt"
  .github/workflows/ci.yaml
  tests/integration/conftest.py
Due: mypy, prettier, typos

improvement and formatting
  tests/integration/conftest.py
Due: mypy, typos

missing variable
  tests/integration/conftest.py
Due: mypy, typos

remove unused variable
  tests/integration/conftest.py
Due: mypy, typos

propagating secrets in env variable
  .github/workflows/ci.yaml
Due: prettier, typos

add ty
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  src/datajudge/db_access.py
Due: mypy, prettier, taplo, typos

Remove impala-related code.
  src/datajudge/constraints/miscs.py
  src/datajudge/constraints/row.py
  src/datajudge/db_access.py
  tests/integration/conftest.py
  tests/integration/test_column_capitalization.py
  tests/integration/test_integration.py
  tests/integration/test_stats.py
Due: mypy, typos

introduce ty
  pixi.lock
  pixi.toml
  pyproject.toml
  src/datajudge/formatter.py
  src/datajudge/requirements.py
  tests/integration/test_integration.py
Due: mypy, taplo, typos

Update tests/integration/conftest.py
  tests/integration/conftest.py
Due: mypy, typos

WIP
  .pre-commit-config.yaml
Due: prettier, typos

fix format
  tests/integration/conftest.py
Due: mypy, typos

chore: Improve Snowflake security auth in CI (#305)
  .github/workflows/ci.yaml
  tests/integration/conftest.py
Due: mypy, prettier, typos

Address some ty complaints.
  src/datajudge/constraints/base.py
  src/datajudge/constraints/date.py
  tests/integration/test_stats.py
Due: mypy, typos

Discontinue impala support (#307)
  .github/workflows/ci.yaml
  CHANGELOG.rst
  docker-compose.yaml
  pixi.lock
  pixi.toml
  pyproject.toml
  src/datajudge/constraints/miscs.py
  src/datajudge/constraints/row.py
  src/datajudge/db_access.py
  tests/integration/conftest.py
  tests/integration/test_column_capitalization.py
  tests/integration/test_integration.py
  tests/integration/test_stats.py
Due: mypy, prettier, taplo, typos

Don't expect children to implement retrieve and compare.
  src/datajudge/constraints/base.py
Due: mypy, typos

use --no-progress
  .pre-commit-config.yaml
Due: prettier, typos

Address some more ty complaints.
  src/datajudge/db_access.py
Due: mypy, typos

Fix another ty complaint.
  src/datajudge/db_access.py
Due: mypy, typos

Add type annotation.
  src/datajudge/constraints/base.py
Due: mypy, typos

Remove type igores.
  src/datajudge/constraints/column.py
  src/datajudge/constraints/miscs.py
  src/datajudge/constraints/varchar.py
  src/datajudge/requirements.py
  tests/integration/conftest.py
Due: mypy, typos

Bring back instance caching
  src/datajudge/constraints/base.py
Due: mypy, typos
